body {
    margin: 0;
    background: #070707;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    padding: 80px 20px;
    background: linear-gradient(135deg, #111, #1c1c1c);
}

h1 {
    font-size: 55px;
    color: #00ff88;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    color: #ddd;
}

.main-button,
button {
    background: #00ff88;
    color: black;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

#packages {
    padding: 50px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #151515;
    border: 1px solid #333;
    border-radius: 14px;
    padding: 30px;
    width: 230px;
}

.card h3 {
    color: #00ff88;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

footer {
    padding: 30px;
    color: #aaa;
}